<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TelephoneLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TelephoneLog.Properties.Settings>
            <setting name="logpath" serializeAs="String">
                <value>\\Sopka_server\slmon\LOG</value>
            </setting>
            <setting name="filepattern" serializeAs="String">
                <value>188.0.1.151|188.0.1.152</value>
            </setting>
        </TelephoneLog.Properties.Settings>
    </userSettings>
</configuration>